[submodule "backend"]
	path = backend
	url = https://github.com/ProvaTryon/Prova-Backend.git
	branch = main
[submodule "frontend"]
	path = frontend
	url = https://github.com/ProvaTryon/prova.git
	branch = main
[submodule "tryon"]
	path = tryon
	url = https://github.com/ProvaTryon/Prova-AI.git
	branch = main
[submodule "chat"]
	path = chat
	url = https://github.com/ProvaTryon/Prova-ChatBot.git
	branch = main
